@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Media query
$max-width: 768px;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color system
$vue:                        #42b883 !default;
$vue-states:                 #389466 !default;
$card-black-background:      #27293d !default;
$background-black:           #1e1e2f !default;
$background-states-black:    #1e1e24 !default;

/* ----- begin bootstrap customization ----- */

$table-hover-bg: $vue-states;

@import "bootstrap";
/* -----  end bootstrap customization  ----- */
:root {
    --bs-body-bg: $card-black-background;
    --bs-emphasis-color: white;
    --bs-secondary-color: white;
}
